[package]
name = "mpd-discord-rpc"
version = "1.7.2"
authors = ["Jake Stanger <mail@jstanger.dev>"]
edition = "2021"
description = "Displays your currently playing song / album / artist from MPD in Discord using Rich Presence."
license = "MIT"
repository = "https://github.com/JakeStanger/mpd-discord-rpc"
readme = "README.md"
keywords = ["mpd", "discord", "rpc", "music", "mopidy"]

[dependencies]
discord-presence = "1.2.0"
mpd_client = "1.4.1"
dirs = "5.0.1"
toml = "0.8.14"
regex = "1.10.4"
serde = { version = "1.0.203", features = ["derive"] }
serde_json = "1.0.117"
reqwest = { version = "0.12.4", features = ["json"] }
tokio = { version = "1.38.0", features = ["rt-multi-thread"] }
universal-config = { version = "0.5.0", default-features = false, features = ["toml"] }
mpd-utils = "0.2.1"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
