[Unit]
Description=Discord Rich Presence for MPD
Documentation=https://github.com/JakeStanger/mpd-discord-rpc
After=mpd.service
Requires=mpd.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/mpd-discord-rpc

[Install]
WantedBy=mpd.service
